{
  "presets": [
    "env",
    "stage-0"
  ],
  "plugins": [
    ["babel-plugin-transform-builtin-extend", {
      "globals": ["Error"]
    }]
  ],
  "env": {
    "production": {
      "ignore": [
        "./server/**/*.spec.js",
        "./server/**/*.mock.js",
        "./server/**/*.fixture.json",
      ],
    }
  },
}
